<div class = "example" style="width:1500px">

<!-- to access each control object,
pass a reference to the submit method which references the whole control group object containining controls. to do this, 
#f - a temporary local variable is made and set to
ngForm. its a special syntax, when angular sees this it sets the variable to the ngControl/ngForm directive applied to the input/form element. 
it has a form attribute. f.form.
-->
<form #f = "ngForm" (ngSubmit) = "onSubmit(f.form)" >
<div class="form-group" >
<div class="col-sm-7">
		<label for="firstName">First Name</label>
		<input 
		ngControl = "firstName" 
		#firstName="ngForm" 
		type = "text" 
		class = "form-control" 
		id="firstName"
		required 
		minlength="3" 
		>

		<div *ngIf="firstName.touched && firstName.errors">
		<div class = "alert alert-danger"*ngIf="firstName.touched && firstName.errors.minlength">
		First Name should be minimum length {{firstName.errors.minlength.requiredLength}}.
		</div>
		<div 
		class="alert alert-danger"
		*ngIf="firstName.touched && firstName.errors.required">
		First name is required.
		</div>
		</div>

</div>
</div>

<div class="form-group">
<div class="col-sm-7">
	<label for = "comment">Comment</label>
	<textarea
	ngControl="comment" 
	#comment="ngForm"
	id = "comment" 
	cols="30" rows="10" 
	class = "form-control"
	required>	
	</textarea>
	<div *ngIf = "comment.touched && !comment.valid" class = "alert alert-danger">Comment is required!</div>
	<br>
	<button class="btn btn-primary" type = "submit"
	[disabled]="!f.valid"
	>Submit</button>
	</div>
</div>

</form>
</div>